/*tic-tac-toe css*/

#board {
  /*text-align: center;*/
}

#bodyContent {
  text-align: center;
}

#tictactoe {
  width: 500px;
  margin: 0 auto;
  margin-top: 2em;
}

#tictactoe h1 {
  margin-bottom: 1em;
}

h1 {
  font-style: bold;
  font-size: 2em;
}


h3 {
  font-size: 1.5em;
  border: 0;
  color: green;
}

h4 {
  margin-bottom: 0.2em;
  color: darkred;
}

#rules {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

#invalid {
  position: absolute;
  font-size: 1em;
  bottom: 0.3em;
  left: 43%;
}

table {
  margin: auto auto;
}

table button {
  border: 0;
  background-color: white;
  font-size: 3em;
  width: 100px;
  height: 100px;
}

button:hover {
  background-color: lightgreen;
}

#game {
  float: left;
}

#gameControls {
  float: right;
  position: relative;
  top: 7em;
}

#other {
  display: block;
}

#gameControls button {
  margin: 2em 1em;
  border: 0;
  font-size: inherit;
}

#P1Wins, #P2Wins {
  display: inline;
  font-size: 1.5em;
}

#P1Wins {
  color: blue;
}

#P2Wins {
  color: red;
}
