/*shell css*/

body {
  margin: 0px;
  background: url("../imgs/bgpattern2.jpg")
}


/*HEADER*/

header, footer {
  min-width: 700px;
}

#container {
  width:    100%
  margin:   0 auto;
}

header {
  background-color: #2D363F;
  font-family: 'Bitter', serif;
  height: 70px;
  width: 100%;
}

#mainTitle {
/*  width: 25%;*/
  /*border-right: 1px solid white;*/
  padding: 0.4em 0.7em 0.8em 1em;
  color: lightgray;
  float: left;
}

h1 {
  margin: 0px;
  letter-spacing: 0.8px;
}

h2 {
  margin: 0px;
  font-size: 80%;
}

nav {
  position: relative;
  right: 3em;
  top: 1.5em;
  margin-left: 1.5em;
  color: white;
  float: right;
}

nav a {
  margin-left: 2em;
}

.menuButton {
  position: relative;
  transition: 200ms;
  }

.menuButton:link {
  color: white;
  text-decoration: none;
}

/*HEADER ANIMATIONS*/

.menuButton:hover {
  color: gray;
}

nav a:visited {
  color: white;
}

/*BODY*/

#pagewrapper {
  min-width: 1000px;
  font-family: 'Abel', sans-serif;
}

#bodyContent {
  width: 71.429%;
  display: inline;
  float: left;
  margin-right: 2.041%;
  min-width: 45em;
  min-height: 100%;
  margin-left: 0;
  clear: both;
  overflow: hidden;
}

#upperBox {
}

article p {
  margin-left: 1em;
  margin-bottom: 2em;
  font-size: 1.3em;
}

h3 {
  font-family: 'Abel', sans-serif;
  font-size: 3em;
  margin-left: 0.4em;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

/*ASIDE*/

aside {
  width: 22.449%;
  display: inline;
  float: left;
  margin-right: 1.021%;
  margin-top: 0.5%;
  margin-bottom: 2em;
}

aside img {
  height: 200px;
  margin-top: 2%;
  border: 1px solid black;
  margin-right: 10px;

}

#profiletext {
  font-size: 2em;
  margin-top: 20px;
}

/*INDEX*/

h4 {
  font-size: 2em;
  margin: 0.4em 0em 0em 0em;
}

.unitList {
  position: relative;
  margin: 0em 2em 2em 2em;
  font-size: 1.3em;
  background-color: #989e8e;
  border: 1px solid gray;
  padding: 0em 2em 0.5em 1em;
  font-family: 'Inconsolata';
}

.unitList > ul {
  list-style: square;
  margin-left: 1.7em;
}

.unitList ul li {
  margin-bottom: 0.1em;
  padding-bottom: 0.3em;
  font-size: 0.8em;
}

.unitList a {
  color: darkblue;
  text-decoration: none;
  transition: 200ms;
}

.sublist {
  font-size: 0.8em;
  width: 25em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/*INDEX ANIMATIONS*/

.unitList a:hover {
  color: white !important;
}



/*FOOTER*/

footer {
  background-color: #5B6C7D;
  font-family: 'Bitter', serif;
  color: white;
  overflow: hidden;
  width: 100%;
}

#contactInfo {
  left: 0px;
  display: inline-block;
  padding: 2.1em 2.1em 2em 2.1em;
}

#socialLinks {
  display: inline-block;
  float: right;
  right: 0px;
  /*border-left: 1pt solid white;*/
  padding: 5px 10px 0px 10px;
}

#socialLinks a {
  text-decoration: none;
}

#socialLinks img {
  opacity: 0.8;
  transition: 200ms;
}

/*FOOTER ANIMATIONS*/

#socialLinks img:hover {
  opacity: 1;
}



/*PHONES*/

/*@media only screen and (max-device-width: 480px) {
  h1 {
    letter-spacing: 0;
  }

  nav {
    margin-left: -1em;
  }

  nav a {
    margin-left: 1.5em;
  }
}*/